NODE_ENV=development
VITE_ENV=development

BACKEND_PORT=4000

WEB_URL=http://localhost:5170
API_BASE_URL=http://localhost:4000

SESSION_COOKIE_NAME=briefbox_session
SESSION_TTL=1h          # supports: 30m, 1h, 2h, 1d, etc.

REDIS_URL=rediss://default:xxxxxxxx@yyyy

EMAIL_DOMAIN=briefbox.dev

WEBHOOK_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx